.vehicle-item {
    width: 400px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .description {
    position: absolute;
    left: 15px;
  }
  
  .image {
    position: absolute;
    right: 15px;
  }
  